body{
  background-color: brown;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:blue;
    text-align: center;
    font-size: 50px;
}

p{
    color:green;
}

a{
    background-color:aqua;
    text-decoration: none;
}

ul{
    background-color: blueviolet;
}

li{
    color: aquamarine;
    font-weight: bold;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(24, 46, 39);
    font-weight: bold;
}
/*
selector{
    color: aquamarine;
    font-weight: bold;
}*/

#page-header {
  padding: 10px;
  border: 2px solid black;
}

#fav-movie-header{
    border: 3px solid purple;
}

#fav-music-header{
    border: 4px solid purple;
}

#fav-food-header{
    border: 5px solid purple;
}

.fav-section{
  background-color: rgb(192, 216, 192);
  margin: 15px;
  padding: 15px;
  border: 2px solid black;
}

.favorite-section{
  background-color: rgb(166, 181, 197);
  margin: 15px;
  padding: 15px;
  border: 2px solid rgb(94, 94, 94);
}

#most-favorite-food{
  color: yellow;
  font-size: 20px;
  text-decoration: underline;
}

#fav-image-header{
    border: 5px solid purple;
}

#fav-table-header{
    border: 5px solid purple;
}

.fav-image{
  width: 250px;
  height: auto;      /* keeps aspect ratio */
  border-radius: 15px;
}

table{
  border-collapse: collapse;
  width: 100%;
}

th, td{
  border: 1px solid black;
  padding: 8px;
}

th{
  color: white;
  background-color: rgb(179, 116, 39);
}

tr:nth-child(even) td {
  background-color: grey;
}
