body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
}

#apodImage {
    width: 100%;
    height: auto;
    padding: 10px;
    /* Hide Image */
    display: none;
    
}

#apodVideo {
    width: 720px;
    height: auto;
    display: none;
}