<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference Registration</title>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Water.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
</head>
<body>

    <div id="app">
    
        <h1>Conference Registration</h1>

        <h2>Your information</h2>

        <!-- Name input -->
        <label for="name">Name</label><input v-model="name" id="name" type="text">

        <h2>Choose your sessions</h2>

        <!-- Morning checkbox -->
        <label for="morning-session">Morning</label><input v-model="morningSession" id="morning-session" type="checkbox">
        
        <!-- Afternoon checkbox -->
        <label for="afternoon-session">Afternoon</label><input v-model="afternoonSession" id="afternoon-session" type="checkbox">
        
        <!-- Selected sessions -->
        <p>You are attending these sessions: <b>{{ sessionsAttendedString }}</b></p>

        <!-- Submit button -->
        <button v-on:click="submitRegistration">Submit Registration</button>
    </div>

    <script>
        // Vue functions
        const { createApp, ref, computed } = Vue 

        createApp({
            setup() {
                // Name data
                const name = ref('')
                
                // Session data
                const morningSession = ref(false)
                const afternoonSession = ref(true)
                
                // Session array
                const sessionsAttended = computed(() => {
                    const sessions = []

                    if (morningSession.value === true) {
                        sessions.push('Morning')
                    }

                    if (afternoonSession.value === true) {
                        sessions.push('Afternoon')
                    }

                    return sessions
                })

                // Session text
                const sessionsAttendedString = computed(() => {
                    if (sessionsAttended.value.length == 0) {
                        return 'No sessions selected'
                    } else { 
                        return sessionsAttended.value.join(',')
                    }
                })

                // Submit form
                const submitRegistration = () => {
                    alert('Form submitted')
                }

                return {
                    // Reactive data
                    name,
                    morningSession,
                    afternoonSession,

                    // Computed values
                    sessionsAttended,
                    sessionsAttendedString,

                    // Function
                    submitRegistration
                }
            }
        }).mount('#app')
    </script>
</body>
</html>